header{
    background-color: rgb(145, 184, 78);
    text-align: center;
}
nav{
    background-color: darkkhaki;
}

menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.menu>li{
    float:center;

}
.menu>li a{
    background-color:rgb(46, 122, 119);
    color: white;
    text-decoration: none;
    padding: 20px 80px;
    display:block;
}
.menu li a:hover{
    background-color:brown;
}
.menu li ul{
    display:none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display: block;
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}
article{
    background-color: darksalmon;
    text-align: center;
}